@model ProductsViewModel.Product

<div class="product-card">
    <div class="product-card-text-container">
        <div class="card-text-title">
            <span>@Model.Title</span>
        </div>
        <div class="card-text-info">
            <span>@Model.Brand</span>
            <span>@Model.Price @Model.Currency</span>
        </div>
    </div>
</div>