@model ProductsViewModel

@{
    ViewData["Title"] = "Products listing";
}

<div class="text-center">
    <h1 class="page-title">Products</h1>
    <div class="product-view-utilities-container">
        @await Html.PartialAsync("_TrendingProduct", Model)
        <div class="product-search-container">
            <input type="text" id="product-search-box" name="ProductFilterString" placeholder="Search..." />
        </div>
    </div>
    @if (Model.Products.Any())
    {
        <div class="product-listing-cards">
            @foreach (var product in Model.Products)
            {
                @await Html.PartialAsync("_ProductCard", product)
            }
        </div>
    }
    else
    {
        <div class="no-products-available">
            <span id="no-products-available-message">Unable to offer products at the moment!</span>
        </div>
    }
</div>