html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 4rem;
}

.page-title {
    margin-bottom: 1rem;
}

.product-view-utilities-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;
}

.product-listing-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
}

.product-card {
    border-style: solid;
}

.product-card-text-container {
    padding: 0.5rem;
}

.card-text-title {
    text-align: left;
    font-weight: bold;
}

.card-text-info {
    display: flex;
    justify-content: space-between;
}

@media (min-width:768px) {
    .page-title {
        text-align: left;
    }

    .product-view-utilities-container {
        display: flex;
        justify-content: space-between;
    }

    .product-listing-cards {
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
    }

    .product-card {
        margin-bottom: 0;
    }
}
